# Inspriations:
# - [@waterkip](https://medium.com/@waterkip/my-git-workflow-7f2c145c9d6d)

[core]
    filemode = false
    editor = nvim
    autocrlf = input
    eol = lf
    
    # Treat spaces before tabs, and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,trailing-space

    logallrefupdates = true


[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[init]
    defaultBranch = main

[push]
    # Push the current branch to a branch of the same name on the remote.
    default = current
    autoSetupRemote = true

[pull]
    # Avoid creating merge commits in non-main branches.
    rebase = true

[alias]
    # Shorten common commands
    st = status
    ci = commit
    co = checkout
    br = branch
    ls = ls-files
    # Merge for code review
    rev = merge --no-ff --no-commit
    # Other custom shortcuts
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    revlog = log --first-parent
    untracked = ls-files -o
    add = add -v
    A = add -vA
    grep = grep -n

    mr = push -u origin HEAD
    cm = commit -m
    acm = commit -a -m
    cma = commit -a -m
    cam = commit -a -m
    # View the SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph
    # View the current working tree status using the short format
    s = status -sb
    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
    d = -c diff.external=difft diff
    dnc = difftool --extcmd 'difft --ignore-comments'

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[diff]
    mnemonicprefix = true
    algorithm = patience
    external = difft

    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[pager]
    # Use a pager if the difftool output is larger than one screenful,
    # consistent with the behaviour of `git diff`.
    difftool = true

[include]
    path = ~/.gitconfig.work
    
[color]
    ui = auto
    advice = never
    branch = never

[color "branch"]
    current = green
    local   = yellow
    remote  = yellow reverse

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
   added = yellow
   changed = green
   untracked = cyan

[remote]
    pushDefault = origin

[advice]
    statusHints = false
    detachedHead = false

[rebase]
    autoStash = true
    forkpoint = false

[clean]
    requireForce = true

[user]
	name = Dominic Grimaldi
