[core]
    filemode = false
    editor = nvim
    autocrlf = input
    eol = lf
    hooksPath = '.dotfiles/git/hooks/'
    pager = delta

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
	rebase = false

[alias]
	cma = commit -a -m
	cam = commit -a -m
	mr = push -u origin

